/tests/ export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phpstorm.meta.php export-ignore
/composer.lock export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
/psalm.xml export-ignore
/renovate.json export-ignore
